* {
  margin: 0px 0px;
  font-family: Lato, sans-serif, serif;
  box-sizing: border-box;
  font-size: 18px;
}
body {
  margin: 0 0;
}
.font_btn {
  font-size: 20px;
  font-weight: 600;
}
#vc_list {
  margin-top: -10px;
}
.nav-bar {
  padding: 0.5rem 2.5rem !important;
  background-color: #00d1cd !important;
}
.nav__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 40%;
  height: 15%;
}
.logo {
  background-color: white;
}

.nav__setAvailBW {
  width: 540px;
  padding: 5px 15px;
  margin-right: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn__setbandwidth {
  background: #00d1cd;
  outline: none;
  border: none !important;
}
.btn__setbandwidth:focus {
  outline: none;
  border: none !important;
}

.brand_name {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin: 0px 15px 0px 0px;
}
.fa-trash {
  cursor: pointer;
}
.section-top {
  background-color: #edf0f0;
  width: 100%;
  margin-top: -3rem;
}

.top-content {
  padding: 1rem 2.5rem;
  padding-bottom: 3rem;
}

.table-result {
  padding: 0px 3.3rem;
}

/* CSS GRID */
.form_wrapper {
  margin-top: 54px;
  padding: 35px 37px 20px 20px;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 2px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #ffffff;
  box-shadow: 0px 7px 13px -8px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
}
.vc {
  /* margin-top: -10px; */
  padding: 5px;
}
.vc__lable {
  margin-top: -36px;
}

.vc_name {
  grid-column-start: span 2;
}
/* .vc_avail {
  grid-column-start: span 2;
} */
.vc__add {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}
.vc__add:hover {
  color: #fff;
}

.icon-add {
  widows: 20px;
  height: 20px;
}

.btn-outline-info {
  color: #444444 !important;
  border-color: #00d1cd;
}
.btn-outline-info:focus {
  box-shadow: none;
}
.btn-outline-info:hover {
  color: #fff !important;
  background: #00d1cd;
}
.vc__calc {
  align-self: center;
}
.vc__add:focus {
  outline: none;
}
.btn-outline-dark:focus {
  box-shadow: none !important;
}

.vc_list {
  margin-top: 3rem;
}
.res__title {
  color: #00d1cd;
}
/* @media screen and (max-width: 850px) {
  .vc_list {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .vc_list {
    margin-top: 2rem;
  }
} */
